/* Reset and general styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/* Header styling */
header {
    background-color: #2d2d2d;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 32px; /* Ukuran font untuk judul header lebih kecil agar lebih proporsional */
    margin: 0;
    font-weight: bold; /* Menebalkan font agar lebih mencolok */
    text-transform: uppercase; /* Membuat judul header semua huruf kapital */
}

/* Navigation styling */
nav ul {
    background-color: #333;
    margin: 0;
    padding: 10px;
    text-align: center;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Container for main content */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

/* Styling for headings and paragraphs */
h2 {
    font-size: 28px;
    color: #333;
}

h3 {
    font-size: 24px;
    color: #555;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
}

/* Styling for the button */
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.btn:hover {
    background-color: #45a049;
}

/* Footer styling */
footer {
    background-color: #2d2d2d;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
